.bandeau {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #558ba3;
}

.reference {
  text-align: center;
  font-size: x-large;
  /* Ajoutez ici d'autres propriétés pour le style de votre div de référence */
}

.recherche{
 border-radius: 20px;
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: large;
}

::placeholder{
  text-align: center;
}


h1 {
  color: white;
}

.petit-bandeau {
  height: 90px;
  width: 100%;
  margin-top: 50px;
  background-color: #52a1bb;
}
.petit-bandeau-logo{
  height: 90px;
}

.nav{
  text-align: center ;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

nav ul li:hover > a {
  background-color: #32627c;
}

nav ul li.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown{
  width: 200px;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  margin-left: 20%;
  margin-top: 25%;
}

.dropdown-menu {
  font-weight: bolder;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border: 1px solid #ccc;
  background: #52a1bb;
}

.dropdown-compo{
  text-align: center;
  width: 200px;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #32627c;

}

.dropdown-menu li:hover > a {
  background-color: #32627c;
}


.container2 {
  margin: 50px auto;
  padding: 10px;
  margin-left: 290px;
  background-color: #e6f2ff;
}

.center{
  text-align: center;
  color: #2A5E74;
}

.container3 {
  margin : 20px;
  padding: 5px;
  margin-left: 360px;
  cursor: pointer; /* rendre le conteneur clickable */
  border: 1px solid #ccc; /* ajouter une bordure */
  padding: 10px; /* ajouter de la marge intérieure */
  display: inline-block; /* afficher en ligne */
}

.container4 {
  margin : 20px;
  padding: 10px;
  cursor: pointer; /* rendre le conteneur clickable */
  border: 1px solid #ccc; /* ajouter une bordure */
  padding: 10px; /* ajouter de la marge intérieure */
  display: inline-block; /* afficher en ligne */
}

.container_filter {
  margin-top:0;
  display: inline-block; /* afficher en ligne */
}

#filter-options {
  display:none;
}

.container_arbre1 {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

.checkboxes {
  margin-bottom: 20px;
}

label {
  margin-left: 5px;
}

.next-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 60vh;*/
  margin-top: 10vh;
  margin-left: 40vh;
}

#body{
  align-items: center;
}

.cont2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 10px;
}

.cont2 > div {
  padding: 30px;
  border: 3px solid #558BA3;
  text-align: center;
  margin-right: 20px;
  border-radius: 10px; /* Ajout : arrondir les angles */
  background-color: #f2f2f2; /* Ajout : couleur de fond */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout : ombre légère */
}

.cont2 > div a {
  text-decoration: none; /* Ajout : supprimer soulignement des liens */
  color: #558BA3; /* Ajout : couleur du lien */
}

.cont2 > div p {
  margin-top: 10px; /* Ajout : espacement entre le titre et la description */
}

.info-div {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-div b {
  font-weight: bold;
}

.info-div p {
  margin: 10px 0;
}

.info-div a {
  text-decoration: none;
  color: #558BA3;
}

.container3 {
  margin-left : 360px;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  float: left; /* Ajout : flotter à gauche */
}

.container3 img {
  display: block;
  margin: 0 auto; /* Ajout : centrer l'image horizontalement */
}
